body {
    background-color: #E7D7C1;
}
.container {
    width: 530px;
    height: 525px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    display: block;
    border-radius: 4px;
    background-color: #735751;
}

.heading {
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 540px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
    color:  #735751;
}

.scores-container {
    float: right;
    text-align: right;
}

.score {
    position: relative;
    display: inline-block;
    background: #A78A7F;
    padding: 15px 25px;
    font-size: 25px;
    height: 75px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}

.best-score {
    position: relative;
    display: inline-block;
    background: #A78A7F;
    padding: 15px 25px;
    font-size: 25px;
    height: 75px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}

.restart-buton {
    display: inline-block;
    background: #735751;
    border-radius: 3px;
    padding: 0px;
    color: #E7D7C1;
    height: 54px;
    text-align: center;
    float: right;
    cursor: pointer;
    position: relative;
    margin-top: 8px;
    margin-left: 20px;
    width: 54px;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 100%;
    height: 100%;
}

.game-container {
    width: 502px;
    height: 500px;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 1;
}

canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 2;
}


.grid-row1 {
    width: 500px;
    height: 22%;
    display: flex;
    justify-content: space-between;
}

.grid-cell {
    width: 23%;
    height: 100%;
    background-color: #A78A7F;
    border-radius: 3px;
}

.grid-row2,
.grid-row3,
.grid-row4 {
    margin-top: 3%;
    width: 500px;
    height: 22%;
    display: flex;
    justify-content: space-between;
}